* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #454545;
  color: #fff;
  font-family: monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}